<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/f130ec18d4.js" crossorigin="anonymous"></script>


    <title>Mercado Liebre Hernan</title>
</head>

<body>

 <header class="main-header">
    <div class="main-header-top-bar" >
        <img src  = "/images/logo-mercado-liebre.svg" class="Logo" ></img>
        <br>
        <div class ="search-bar ">
           <input type="search "  name="busquedaProductos"  id="searchb" placeholder="Buscar productos..." size="40" >
           <i class="fa-solid fa-magnifying-glass"></i>
        </div>   
      <h2 class="copy-header"> 
        <i class="fa-solid fa-hand-holding-dollar"></i>
             Compra en cuotas y sin tarjeta de crédito
            </h2>
    </div>  
 
    <a href="#" class="hamburger-buttom">
    <i class="fa-solid fa-bars"></i>
    </a> 

        <nav class="main-navbar">
            
            <ul   class="left-navbar" >
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#"> Ayuda</a></li>
                
            </ul >

            <ul  class="right-navbar">
                <li><a href="#"> Crea tu cuenta <i class="fa-solid fa-user-pen"></i></a></li>
                <li><a href="#"> Ingresa <i class="fa-solid fa-user"></i></a></li>   
                <li><a href="#"> Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
                
            </ul>
        </nav>  
       
    </header>   
     
     <!--ACA TERMINA EL HEADER------------------------------------------------------------->

     <div class="banner-main"><img src="/images/img-home-banner.jpg" class="img-fluid" alt="imagen-banner"></div>
     <main >
   <div class="container-father">

        <div class="main-uvisita">
        <div><h5>Basado en tu última visita </h5></div>   
       <div class="producto">
         <img src="\images\img-cafetera-moulinex.jpg" width="200px" height="200px"></img>
         
         <ul type="none">
            <p class="icono-visit"><i class="fa-solid fa-truck-fast"></i></p>
            <li class= precio href="text"> $9.500 </li>
            <li class="descuento" href="text"> 40% OFF </li>
            <li class="descripcion" href="text">Cafetera Moulinex </li>
         </ul>
       </div> 
       <div class="producto">
        <img src="\images\img-macbook-pro-2019.jpg" width="200px" height="200px"></img>
        <ul type="none">
            <p class="icono-visit"><i class="fa-solid fa-truck-fast"></i></p>
          <li  class="precio"  href="text"> $195.000 </li>
          <li  class="descuento" href="text"> 20% OFF </li>
          <li  class="descripcion"  href="text">Macbook Pro 2019 </li>
         </ul>
    </div>
    <div class="producto">
     <img src="\images\img-samsung-galaxy-s10.jpg" width="200px" height="200px"></img>
     <ul type="none">
        <p class="icono-visit"><i class="fa-solid fa-truck-fast"></i></p>
        <li  class="precio"  href="text"> $75.000 </li>
        <li  class="descuento" href="text"> 10% OFF </li>
        <li  class="descripcion"  href="text">Samsung Galaxy S10</li>
     </ul>   
    </div>
    <div class="producto">   
        <img src="\images\img-tv-samsung-smart.jpg" width="200px" height="200px"></img>
        <ul type="none">
            <p class="icono-visit"><i class="fa-solid fa-truck-fast"></i></p>
           <li  class="precio"  href="text"> $300.000 </li>
           <li  class="descuento" href="text"> 5% OFF </li>
           <li  class="descripcion"  href="text">Smartv Samsung 43" </li>
        </ul>
    </div>
   </div>  
      <div class="main-ofertas">
         <div><h5>Seccion Ofertas</h5></div>
         <div class="producto">
           <img src="\images\img-cafetera-moulinex.jpg" width="200px" height="200px"></img>
            <ul type="none">
               <p class="icono-oferta" ><i class="fa-solid fa-truck-fast"></i></p>
               <li  class= precio href="text"> $9.500 </li>
               <li  class="descuento" href="text"> 40% OFF </li>
               <li  class="descripcion" href="text">Cafetera Moulinex </li>
            </ul>
           </div> 
           <div class="producto">
            <img src="\images\img-macbook-pro-2019.jpg" width="200px" height="200px"></img>
            <ul type="none">
                <p class="icono-oferta" ><i class="fa-solid fa-truck-fast"></i></p>
               <li  class="precio"  href="text"> $195.000 </li>
               <li  class="descuento" href="text"> 20% OFF </li>
               <li  class="descripcion"  href="text">Macbook Pro 2019 </li>
            </ul>
           </div>
           <div class="producto">
            <img src="\images\img-samsung-galaxy-s10.jpg" width="200px" height="200px"></img>
            <ul type="none">
                <p class="icono-oferta" ><i class="fa-solid fa-truck-fast"></i></p>
               <li  class="precio"  href="text">$75.000 </li>
               <li  class="descuento" href="text"> 10% OFF </li>
               <li  class="descripcion"  href="text">Samsung Galaxy S10</li>
            </ul>   
           </div>
           <div class="producto">   
               <img src="\images\img-tv-samsung-smart.jpg" width="200px" height="200px"></img>
               <ul type="none">
                <p class="icono-oferta" ><i class="fa-solid fa-truck-fast"></i></p>
                  <li  class="precio"  href="text"> $300.000 </li>
                  <li  class="descuento" href="text"> 5% OFF </li>
                  <li  class="descripcion"  href="text">Smartv Samsung 43" </li>
               </ul>
               <div >
    
</div>
   </main><!---ACA TERMINA EL MAIN-->

    <footer>
        <section  >
           <p class="icono-footer"><i class="fa-solid fa-credit-card "></i></p> 
            <h4>Pagá con tarjeta o efectivo </h4>
            <article >
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </article>
        </section>
         <section>
            <p class="icono-footer"><i class="fa-solid fa-gift"></i></p> 
            <h4>Envío gratis desde los $ 2.500 </h4>
            <article>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
            </article>
        </section>
        <section>
            <p class="icono-footer"><i class="fa-solid fa-user-shield"></i></p> 
            <h4>Seguridad, de principio a fin </h4>
            <article>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegida.
            </article>
        </section>    
        <br>
        <br>
             <article>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </article>
        </section>
    </footer>
    
</body>
</html>